<!DOCTYPE html>
<html lang="en" xlmns:th="http://www.w3.org/1000/xhtml">
<head th:replace="common/sidebar :: common-sidebar" />


<body id="page-top">
     <div id="wrapper">
        <div th:replace="common/sidebar :: sidebar" />

          <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

               <div th:replace="common/header :: header" />

                    <!-- Begin Page Content -->
                <div class="container-fluid">

                  

             <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-default">News List</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                      
                                            <th>Title</th>
                                            <th>Author</th>
                                            <th>Category</th>
                                            <th>NewsType</th>
                                            <th>Publication Date</th>
                                            <th>Active?</th>
                                            <th>Operation</th>
                                        </tr>
                                    </thead>
                                  
                                    <tbody>
                                        <tr data-th-each="news : ${newsList}">

                                          <input hidden="hidden" name="id" th:value="${news.id}">
                                            <td th:text="${news.title}"></td>
                                              <td th:text="${news.author}"></td>
                                                <td th:text="${news.category}"></td>
                                                  <td th:text="${news.newsType}"></td>
                                                  <td th:text="${news.publicationDate}"></td>
                                                    <td th:text="${news.active}"></td>
                                                      <td>delete</td>
                                           
                                        </tr>
                                    
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

              </div>
            <div th:replace="common/footer :: footer" />

              </div>
              </div>



     <div th:replace="common/footer-bottom-scripts :: footer-bottom-scripts" />

	</body>

</html>
