<!doctype html>
<html class="no-js" lang="zxx">

<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Login Page</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="/assets/css/style.css">
<link rel="stylesheet" href="/assets/css/bootstrap.min.css">


</head>
<body>
<main class="login-bg" th:classappend="${classActiveForgetPassword}? 'in active'">

<div class="login-form-area">
<div class="login-form">

<div class="login-heading">
<span>Forget Password</span>
</div>


<form th:action="@{/forgetPassword}" method="post">
<div class="input-box">
	<div th:if="${emailNotExist}" class="alert alert-danger">Email doesn't exist.</div>
<div th:if="${forgetPasswordEmailSent}" class="alert alert-success">Email sent.</div>
<div class="single-input-fields">
<label>* Your Email</label>
<input type="text" name="email" id="recoverEmail" placeholder="Enter your registered email address here.">
</div>
</div>
<div class="login-footer">
<button type="submit" class="btn-send" style="cursor:pointer;margin-top: -90px;">Submit</button>
</div>
</form>
</div>
</div>

</main>
</body>
</html>